:host ::ng-deep {
  // For proper scoping, do not include the .css file suffix here
  @import "../../form.component";
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:host ::ng-deep .custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.markdown-preview-toggle {
  .btn.active {
    pointer-events: none;
  }
}

.markdown-preview-box {
  max-height: 24rem;
  min-height: 3rem;
  overflow: auto;
  padding: 0.75rem;
  white-space: pre-wrap;
}
