[submodule "python_data_import/lib"]
	path = python_data_import/lib
	url = https://github.com/dataquest-dev/dspace-blackbox-testing.git
[submodule ".dspace-skills"]
	path = .dspace-skills
	url = git@github.com:dataquest-dev/dspace-skills.git
	branch = main
