# This is a sample config file for backend.
# Replace with production local.cfg.
# It will be mounted to docker container.
mail.server.disabled=true
# vocabulary.plugin.srsc.hierarchy.suggest = true
# vocabulary.plugin.srsc.hierarchy.store = true
