<div class="container">
  <div class="card">
    <h5 class="card-header">{{ "handle-table.title" }}</h5>
    <div class="card-body">

  <!-- </div> -->
  <p class="title text-2xl font-bold mb-4 text-center">
    DOWNLOADS | Decade, Yearly, And Month
  </p>
  <nav class="mb-4 text-center">
    <a routerLink="/views" class="button bg-blue-500 text-white py-2 px-4 rounded inline-block">Go to Views</a>
  </nav>

  <!-- <div id="monthlyChart" class="chart my-4 w-full h-64 md:h-96"></div> -->
  <div id="monthlyChart" class="chart my-4 w-full h-64"></div>


  <button id="monthlyButton" class="button bg-green-500 text-white py-2 px-4 rounded w-full md:w-auto">
    Use Monthly Data for {{ months[month - 1] }} {{ year }}
  </button>

  <div id="yearlyChart" class="chart my-4 w-full h-64 md:h-96"></div>
  <button id="yearlyButton" class="button bg-yellow-500 text-white py-2 px-4 rounded w-full md:w-auto">
    Use Yearly Data for {{ months[month - 1] }} {{ year }}
  </button>

  <div id="decadeChart" class="chart my-4 w-full h-64 md:h-96"></div>
  <button id="decadeButton" class="button bg-red-500 text-white py-2 px-4 rounded w-full md:w-auto">
    Use Decade Data
  </button>
</div></div></div>
