.content:not(.truncated) ~ button.expandButton {
  display: none;
}
.content:not(.truncated) ~ i.expandIcon {
  display: none;
}

.btn:focus {
  box-shadow: none !important;
}

.removeFaded.content::after {
  display: none;
}
